<div metal:use-macro="../../macros.tmpl/object_heading"/>
<form action="" method="post">
    <fieldset>
        <div metal:use-macro="../../macros.tmpl/texteditor"/>
        <p><button type="submit" name="submit" value="1"><span>Speichern</span></button></p>
    </fieldset>
</form>