<div metal:use-macro="../../macros.tmpl/object_heading"/>
<form action="" enctype="multipart/form-data" method="post">
    <fieldset>
        <label>
            <span>Titel</span>
            <input type="text" name="title" tal:attributes="value self/title"/>
        </label>
        <label>
            <span>Bild</span>
            <input type="file" name="image"/>
            <tal:block tal:condition="self/image" tal:define="href self/get_href">
                <a class="preview" data-object_id="${self/id}" tal:attributes="href href"/>
                <a class="properties_link" tal:attributes="href href">Bild-Link</a>
                <span class="image_info" tal:content="self/get_image_dimension"/>
            </tal:block>
        </label>
        <label>
            <span>Bild (high-res)</span>
            <input type="file" name="image_highres"/>
            <tal:block tal:condition="self/image_highres" tal:define="href self/get_highres_href">
                <a class="preview" data-object_id="${self/id}" tal:attributes="href href"/>
                <a class="properties_link" tal:attributes="href href">Bild-Link</a>
                <span class="image_info" tal:content="self/get_image_highres_dimension"/>
            </tal:block>
        </label>
        <label>
            <span>URL</span>
            <input type="text" name="url" id="object_browser_destination" tal:attributes="value self/url"/>
            <button type="button" onclick="open_object_browser(this, false, null, '%dollar{e%id}');"><span>...</span></button>
        </label>
        <label>
            <span>URL-Ziel</span>
            <select name="url_target">
                <option value="_self"  tal:attributes="selected php:self.url_target eq '_self'">im gleichen Fenster öffnen</option>
                <option value="_blank" tal:attributes="selected php:self.url_target eq '_blank'">in neuem Fenster öffnen</option>
            </select>
        </label>
        <label>
            <span>Ausrichtung</span>
            <select name="align">
                <option value="left"        tal:attributes="selected php:self.align eq 'left'">linksbündig</option>
                <option value="left_float"  tal:attributes="selected php:self.align eq 'left_float'">linksbündig mit Textfluss rechts</option>
                <option value="right"       tal:attributes="selected php:self.align eq 'right'">rechtsbündig</option>
                <option value="right_float" tal:attributes="selected php:self.align eq 'right_float'">rechtsbündig mit Textfluss links</option>
                <option value="center"      tal:attributes="selected php:self.align eq 'center'">zentriert</option>
            </select>
        </label>
        <div metal:use-macro="../../macros.tmpl/texteditor"/>
        <p><button type="submit" name="submit" value="1"><span>Speichern</span></button></p>
    </fieldset>
</form>